<footer class="footer">
    <p>&copy; {{site.username}}</p>
    <div class="header-icons">
      <a aria-label="My Resume" target="_blank" href="https://drive.google.com/file/d/14LnhHQ7U8QJlfP4LiS3YBTIYyh2cn_wc/view?usp=sharing">
        <i class="icon fa fa-file-text"></i>
      </a>
      <a aria-label="Send email" href="mailto:seungin.lyu@students.olin.edu"><i class="icon fa fa-envelope"></i></a>
      <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/feed/?trk=nav_logo"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
      <a aria-label="My Github" target="_blank" href="https://github.com/SeunginLyu"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
    </div>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
