<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mtm" src="{{"assets/img/futureboard.GIF" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Futureboard </h3>
    <ul>
      <li> Node.js (Express), jQuery, MongoDB </li>
      <li> Community Technology </li>
      <li> Hacking the Library </li>
    </ul>
    <p>A digital signage platform for sharing video and other media, supplemented by information about events happening on campus.
    I designed responsive touch-screen UI for interactive media streaming using jQuery, implemented instant seamless UX that allows new media to be displayed within 10 seconds of upload using Socket and Node.js as backend.</p>
    <a class="project-link" href="https://github.com/olinlibrary/futureboard">Check it out</a>
  </div>
</div>

<!-- power laws and wars -->
<div class="user-projects">
  <div class="images-left">
    <img alt="state" src="{{"assets/img/powerlaw.gif" | prepend: site.baseurl }}">
  </div>
  <div class="contents-right">
    <h3> Agent-Based Simulation of State Formation and Wars </h3>
    <ul>
      <li> Numpy </li>
      <li> Agent-based Modeling with Python</li>
      <li> Model Replication</li>
    </ul>
    <p>We designed and implemented agent-based simulation of state formation and wars using Python and Numpy. We replicated and plotted power-law distribution of severity of wars reported by Lewis Richardson.</p>
    <a class="project-link" href="https://github.com/CleanestMink126/Power-Laws-and-Wars/blob/master/reports/final_report.md">Check it out</a>
  </div>
</div>

<!-- mannytheman -->
<div class="user-projects">
  <div class="images-right">
    <img alt="mtm" src="http://poe.olin.edu/2017/mannytheman/images/System.png" />
  </div>
  <div class="contents">
    <h3> MannyTheMan (MTM) </h3>
    <ul>
      <li> C# </li>
      <li> Microsoft Kinect </li>
      <li> Arduino / RaspberryPi </li>
    </ul>
    <p>The team built a sculpture robot Manny that mimics human motion in real-time with Microsoft Kinect SDK. I developed the C# GUI and the control system that operates servos connected to Arduino through serial</p>
    <a class="project-link" href="http://poe.olin.edu/2017/mannytheman/index.html">Check it out</a>
  </div>
</div>
<!-- bomberman -->
<div class="user-projects">
  <div class="images-left">
    <img alt="weights" src="https://zneb97.github.io/SoftDesFinalProject/resources/wallWeights.svg">
  </div>
  <div class="contents-right">
    <h3> Team AFK: Bomberman Bot </h3>
    <ul>
      <li> TensorFlow</li>
      <li> Supervised Learning</li>
      <li> Convolutional Neural Networks(CNN) </li>
    </ul>
    <p>Bomberman Bot is a convolutional neural network that plays the classic arcade game, Bomberman. By collecting the team's own play data, the team trained CNN using supervised learning, along with some hardcoded AI sessions.
      The bot auto-completes first 10 stages of Bomberman game built on Pygame module.</p>
    <a class="project-link" href="https://zneb97.github.io/SoftDesFinalProject/index">Check it out</a>
  </div>
</div>
