<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mtm" src="http://poe.olin.edu/2017/mannytheman/images/System.png" />
  </div>
  <div class="contents">
    <h3> MannyTheMan (MTM) </h3>
    <ul>
      <li> C# </li>
      <li> Microsoft Kinect </li>
      <li> Arduino / RaspberryPi
    </ul>
    <p>The team built a sculpture robot Manny that mimics human motion in real-time with Microsoft Kinect SDK. I developed the C# GUI and the control system that operates servos connected to Arduino through serial</p>
    <a class="project-link" href="http://poe.olin.edu/2017/mannytheman/index.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="weights" src="https://zneb97.github.io/SoftDesFinalProject/resources/wallWeights.svg">
  </div>
  <div class="contents-right">
    <h3> Team AFK: Bomberman Bot </h3>
    <ul>
      <li> TensorFlow</li>
      <li> Supervised Learning</li>
      <li> Convolutional Neural Networks(CNN) </li>
    </ul>
    <p>Bomberman Bot is a convolutional neural network that plays the classic arcade game, Bomberman. By collecting the team's own play data, the team trained CNN using supervised learning, along with some hardcoded AI sessions.
      The bot auto-completes first 10 stages of Bomberman game built on Pygame module.</p>
    <a class="project-link" href="https://zneb97.github.io/SoftDesFinalProject/index">Check it out</a>
  </div>
</div>
