<div style="    margin-left: auto;
    display: block; text-align:center">
  <h1> My Stack </h1>
  <div class="user">
    <div class="tech" style="display:contents;">
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <i class="devicon-docker-plain colored"></i>
    </div>
  </div>
</div>
